<!DOCTYPE html>
{% extends "./base.html" %}
{% load static %}

{% block body_block %}
<br>
<h1>勤怠</h1>
<br>
<br>
<div class="container">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>日付</th>
          <th>名前</th>
          <th>出勤時間</th>
          <th>退勤時間</th>
          <th>勤務時間(分)</th>
          <!-- <th>追加</th> -->
        </tr>
      </thead>
      <tbody>
        {% for item in attend_data %}
        <tr>
          <td>{{ item.date | date:'Y/m/d' }}</td>
          <td>{{ item.user }}</td>
          <td>{{ item.start_time | date:'H:i' }}</td>
          <td>{{ item.end_time | date:'H:i' }}</td>
          <td>{{ item.total_time }}</td>
          <!-- <td>{ item.salary }</td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<a href="/user/check">checkへ</a>
{% endblock %}


</html>
