<!DOCTYPE html>
{% extends "./base.html" %}
{% load static %}
{% block body_block %}
  <body>
    <br>
    <h1>給与</h1>
    <br>
    <br>
    <div class="container">
      <div class="table-responsive">
        <caption>給与確認</caption>
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 66%">名前</th>
              <th style="width: 33%">総額</th>
            </tr>
          </thead>
          <tbody>
          {% for user, salary in salary_logs.items %}
            <tr>
              <td>{{ user }}</td>
              <td>{{ salary }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <br>
      <br>
      <div class="table-responsive">
        <caption>給与詳細</caption>
        <table class="table">
          <thead>
            <tr>
              <th style="width: 33%">名前</th>
              <th style="width: 33%">出勤日</th>
              <th style="width: 33%">給与</th>
            </tr>
          </thead>
        {% for user, logs in payments_logs.items %}
        <tbody>
          <tr>
            <td>{{ user }}</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
          {% for log in logs %}
            <tr>
              <td></td>
              <td>{{ log.date }}</td>
              <td>{{ log.salary }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
        </table>
      </div>
    </div>
{% endblock %}

    <a href="/owner/attends">attendsへ</a>
  </body>
</html>
